.navbar{
    height: 100px;
}
.btn-outline-success{
    border-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 15px;
    padding:8px 15px;
}
.btn-success:hover {
    background-color: red;
}
.rounded {
    border-radius: 0.25rem!important;
    padding: 10px 20px;
}